mixin estilos-head(estilos)
    link(rel="stylesheet", href="../css/"+estilos)

mixin estilos-head-responsive(estilosResponsive) 
    link(rel="stylesheet", href="../css/"+estilosResponsive media="screen and (min-width: 800px)")

mixin item-carousel(mainImagen, altMainImage)
    .carousel-item
        figure.carousel-item__img: img(src=mainImagen, alt=altMainImage)
        .carousel-item__details
            div.carousel-item__icons-container
                figure.carousel-item__icon
                    img(src="https://img.icons8.com/flat-round/64/000000/play--v1.png", alt="Icono de reproducir")
                figure.carousel-item__icon
                    img(src="https://img.icons8.com/flat-round/64/000000/plus.png", alt="Icono de agragar")
            p.carousel-item__title Título descriptivo
            p.carousel-item__subtitle 2019 16+ 114 minutos

mixin login-with-social-media(socialMediaIcon, alt, text)
    .social-media-login-container
        figure.social-media-login-icons
            img(src=socialMediaIcon, alt=alt)
        span.social-media-login-text #{text}